<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="theme-color" content="#003153">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= htmlWebpackPlugin.tags.headTags[0] %>
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/efss/logo/elecV2P.png">
  <title>elecV2P - customize personal network</title>
  <style type="text/css">.apploading{display:flex;width:100%;height:100vh;justify-content:center;align-items:center;text-align:center;word-break: break-word;font-size:100px;opacity:.1}.navloading{position: fixed;top: 0;width: 100%;display: flex;justify-content: space-around;font-size: 24px;background: var(--secd-fc);}</style>
  <%= htmlWebpackPlugin.tags.headTags[1] %>
  <%= htmlWebpackPlugin.tags.headTags[2] %>
</head>
<body><noscript><strong>Please enable JavaScript to continue.</strong></noscript>
  <div id="app"><span class="apploading">elecV2P webUI 加载中...</span>
    <nav class="navloading">
      <a href="/">HOME</a>
      <a href="/efss/">EFSS</a>
      <a href="/logs/">LOGS</a>
    </nav>
  </div>
</body>
</html>